body, css {
  margin: 0;
  padding: 0;
  background-color: rgb(228, 171, 245);
  text-align: center;
}

body * {
  margin: 1em;
  padding: 0;
  list-style: none;
}

section {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

#movieDetails {
  display: block;
}

h4 {
  color: rgb(32, 32, 77);
  font-size: 25px;
}

p {
  color: rgb(97, 97, 170);
  font-size: 25px;
}